# - Import semua library yang di butuhkan

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# - Import dataset

In [2]:
data = pd.read_csv('./car.data')
data.head()

  BUYING MAINTENANCE DOORS PERSONS LUGGAGE_BOOT SAFETY  CLASS
0  vhigh       vhigh     2       2        small    low  unacc
1  vhigh       vhigh     2       2        small    med  unacc
2  vhigh       vhigh     2       2        small   high  unacc
3  vhigh       vhigh     2       2          med    low  unacc
4  vhigh       vhigh     2       2          med    med  unacc

# - Konversi tiap value kedalam bentuk angka

In [3]:
data.loc[data['BUYING'] == 'vhigh', 'BUYING'] = 4
data.loc[data['BUYING'] == 'high', 'BUYING'] = 3
data.loc[data['BUYING'] == 'med', 'BUYING'] = 2
data.loc[data['BUYING'] == 'low', 'BUYING'] = 1
data.loc[data['MAINTENANCE'] == 'vhigh', 'MAINTENANCE'] = 4
data.loc[data['MAINTENANCE'] == 'high', 'MAINTENANCE'] = 3
data.loc[data['MAINTENANCE'] == 'med', 'MAINTENANCE'] = 2
data.loc[data['MAINTENANCE'] == 'low', 'MAINTENANCE'] = 1
data.loc[data['DOORS'] == '5more', 'DOORS'] = 5
data.loc[data['PERSONS'] == 'more', 'PERSONS'] = 5
data.loc[data['LUGGAGE_BOOT'] == 'big', 'LUGGAGE_BOOT'] = 3
data.loc[data['LUGGAGE_BOOT'] == 'med', 'LUGGAGE_BOOT'] = 2
data.loc[data['LUGGAGE_BOOT'] == 'small', 'LUGGAGE_BOOT'] = 1
data.loc[data['SAFETY'] == 'high', 'SAFETY'] = 3
data.loc[data['SAFETY'] == 'med', 'SAFETY'] = 2
data.loc[data['SAFETY'] == 'low', 'SAFETY'] = 1
data.loc[data['CLASS'] == 'unacc', 'CLASS'] = 0
data.loc[data['CLASS'] == 'acc', 'CLASS'] = 1
data.loc[data['CLASS'] == 'good', 'CLASS'] = 2
data.loc[data['CLASS'] == 'vgood', 'CLASS'] = 3
data = data.apply(pd.to_numeric, errors='coerce')
data.head()

   BUYING  MAINTENANCE  DOORS  PERSONS  LUGGAGE_BOOT  SAFETY  CLASS
0       4            4      2        2             1       1      0
1       4            4      2        2             1       2      0
2       4            4      2        2             1       3      0
3       4            4      2        2             2       1      0
4       4            4      2        2             2       2      0

# - Membagi dataset ini menjadi data training dan data testing.

In [4]:
X = data.iloc[:, [0,1,2,3,4,5]].values  # Independent Feature
y = data.iloc[:, -1].values             # Dependent Feature
# Pisahkan atribut untuk training & test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# - Membuat model Naive-Bayes menggunakan data training

In [5]:
# Membuat model Naive Bayes terhadap Training set
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

# - Memprediksi hasil test set

In [6]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 3, 0, 3, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 3, 3,
       2, 0, 0, 0, 0, 0, 3, 0, 3, 1, 0, 3, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       3, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3, 0, 0, 3, 0, 1,
       0, 1, 0, 0, 0, 3, 3, 3, 1, 0, 0, 0, 3, 0, 1, 1, 0, 3, 1, 0, 0, 0,
       0, 0, 0, 3, 0, 0, 0, 3, 0, 0, 1, 0, 0, 0, 3, 0, 3, 1, 1, 3, 0, 0,
       0, 1, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 3, 1, 0, 0, 0, 3, 2, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 3, 0, 3, 0, 1, 1, 0, 0,
       0, 3, 0, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 3, 3, 3, 1, 0, 3, 0, 0, 0, 0, 3, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 3, 0, 3, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 3, 0, 1, 0, 0, 0, 0, 0, 3, 3, 3, 3, 0, 0, 0, 0, 2, 0, 0, 3,
       0, 0, 3, 0, 1, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3,
       0, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 3, 2, 1, 0, 1, 0,
       1, 0, 3, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       3, 0, 1, 0, 1, 0, 0, 0, 3, 0, 0, 3, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 3, 3, 1, 1, 0, 3, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 3, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 3, 0, 0,
       3, 0, 0, 2, 0, 1, 0, 0, 3, 0, 0, 1, 3, 1, 0, 0, 0, 0, 0, 0, 2, 3,
       0, 0, 0, 1, 3, 0, 0, 0, 3, 0, 0, 3, 0, 3])

# - Menghitung tingkat akurasi

In [7]:
accuracy_score(y_test, y_pred)

0.7523148148148148